<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Properties>
        <Property name="log-path">logs</Property>
    </Properties>

    <Appenders>
        <Console name="console-log" target="SYSTEM_OUT">
            <PatternLayout pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %logger{36} [%t] --> %msg%n"/>
        </Console>
        <RollingFile name="file-log" fileName="${log-path}/sysmartek_wserviceslog.log"
                     filePattern="${log-path}/sysmartek_wserviceslog-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} %logger{36} [%t] --> %msg%n</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <logger name="org.hibernate.type" level="INFO" />
  		<logger name="org.hibernate" level="INFO" />

        <Root level="INFO" additivity="false">
            <AppenderRef ref="console-log"/>
            <AppenderRef ref="file-log"/>
        </Root>
    </Loggers>

</Configuration>